<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="description" content="" />
                        <meta name="author" content="" />
                        <title>Pet Farming - K</title>
                        
                        <!-- Custom CSS -->
                        <link href="files/css/normalize.css" rel="stylesheet">
                            <link href="files/css/ef.css" rel="stylesheet">
                                
                                <script src="files/js/lodash.min.js"></script>
                                <script src="files/js/vue.min.js"></script>
                                <script src="files/js/sortable.js"></script>
                                <script src="files/js/data.js" defer></script>
                                
                                <script>
                                    </script>
                                </head>
    
    <body>
        <div id="app" class="container">
            <div id="tierListContainer"><h4>Tier List</h4><span>Drag to re-order, uncheck to disable</span>	<ol id="tierList" v-sortable="{onEnd: reorderPetList}">	<li v-for="pet in petList" :key="pet.name" :class="pet.farm ? '' : 'disabled'"><img :src="`files/img/${pet.img}.png`"><span>{{ pet.name }}</span><input type="checkbox" v-model="pet.farm" @change="updateFarmList()"></li></ol><button @click="resetTierList">Reset</button></div>
            <div id="SHList">
                <div :class="SHRow[0].KLReq > KL ? 'SHRow lockedStage' : 'SHRow'" v-for="SHRow in SHList" :key="SHRow[0].KL" ><a :class="getPet(SHRow[0].name).farmableFrags > 0? 'SHStage farmStage': 'SHStage'" :href="`https://www.endlessfrontierdata.com/spirithighlands/${SHRow[0].stage}`"><img :src="`files/img/${SHRow[0].img}.png`"><span class="stageName">{{ SHRow[0].stage }}</span></a><a :class="getPet(SHRow[1].name).farmableFrags > 0? 'SHStage farmStage': 'SHStage'" :href="`https://www.endlessfrontierdata.com/spirithighlands/${SHRow[1].stage}`"><img :src="`files/img/${SHRow[1].img}.png`"><span class="stageName">{{ SHRow[1].stage }}</span></a><span class="KLReq">{{ SHRow[0].KLReq }}</span></div>
            </div>
            <div id="inputsContainer">
                <div id="userInputs"><label for="inputKL">KL</label><input id="inputKL" type="number" v-model.number="KL" min="0"/><br /><label for="inputEntries">Tickets</label><input id="inputEntries" type="number" v-model.number="entries" min="10" max="30" /><br /><label for="inputRefills">Refills</label><input id="inputRefills" type="number" v-model.number="refills" min="0" max="6" /><br /><span id="gemCost"><img src="files/img/gem.png" style="width:12px;"> {{ gemCostArray[refills] }}</span><br /></div>
                <div id="farmList">
                    <h4>Fragments</h4><span>Stages to farm are highlighted above</span>
                    <div class="farmRow" v-for="pet in farmList" :key="pet.name"><img :src="`files/img/${pet.img}.png`"> <span id="farmCount">x{{ pet.farmableFrags}}</span> <span id="daysRemaining">({{ getNbRemainingDays(pet.name) }} days)</span>
                        </div><button @click="addFarmedFrags()">Add</button>
                </div>
            </div>
            <div id="petInputs">
                <div class="petInput" v-for="pet in orderedPetList"><a :href="`https://www.endlessfrontierdata.com/pets/${pet.img}`" :class="
                    getPetInputClassPrefix(pet.fragments) + 'Star'"><img :src="`files/img/${pet.img}.png`"></a>
                <div><span class="petName">{{ pet.name }}</span><br>
                    <fieldset class="starcounter">
                        <template v-for="(pu, idx) in petUpgradesInvertedNoZero">
                            <input type="radio" :id="`${pet.name.replace(' ','')}-${pu.stars}star`" :name="`${pet.name.replace(' ','')}`" :value="`${pu.value}`" :checked="isUpgradeDone(pet, pu)" @change="pet.fragments=`${pu.value}`;updateFarmList()"/>
                           <label :for="`${pet.name.replace(' ','')}-${pu.stars}star`">
                             <img src="files/img/star.png">
                           </label>
                        </template>
                    </fieldset><input v-model.number="pet.fragments" @change="updateFarmList()" type="number" step="1" min="0" max="999" style="clear:both;"><br /></div>
                </div>
            </div>
            <div class="splitter"></div>
            <div class="planning">
                <h2>Complete planning</h2>
                <p id="planning">
                    <template v-for="(dayPlanning, day) in planning">
                        <span>Day {{ day + 1 }}: {{ dayPlanning.nbFragsUsed }} fragments <template v-for="(nbFragsUsed, petName) in dayPlanning.nbFragsUsedByPetName"><a :href="`https://www.endlessfrontierdata.com/pets/${getPet(petName).img}`"><img class="icon" :src="`files/img/${getPet(petName).img}.png`" :alt="petName" :title="petName"></a>x{{ nbFragsUsed }} </template></span><br/>
                    </template>
                </p>
                <p id="planning-summary">Duration: {{ planning.length }} days
                <template v-if="planning.length > 2 && planning[0].nbFragsUsed !== planning[planning.length - 2].nbFragsUsed"><br/><span class="warn">Planning is likely sub-optimal. You should re-order the pets in the tier list or increase your knight level to farm more fragments of the last pets.</span></template><template v-else-if="isWithAllStagesAvailable()"><br/><span class="warn">Planning doesn't include all the required pets since they are not avalaible yet. Increase your knight level to be able to farm those pets.</span></template>
                </p>
            </div>
            <div class="splitter"></div>
            <div class="stateManagement">
                <h2>Use this section to save/restore the state between devices</h2>
                <textarea id="rawState"></textarea><br/>
                <button id="copyState" @click="dumpState()">Get state</button>
                <button id="restoreState" @click="restoreState()">Restore state</button>
                <button id="clearState" @click="clearState()">Clear</button>
            </div>
        </div>
    </body>
    
</html>
